<p id="notice"><%= notice %></p>

<h1>Listing Invoice Forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_forms.each do |invoice_form| %>
      <tr>
        <td><%= invoice_form.name %></td> 
        <td><%= link_to 'Show', invoice_form %></td>
        <td><%= link_to 'Edit', edit_invoice_form_path(invoice_form) %></td>
        <td><%= link_to 'Destroy', invoice_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice form', new_invoice_form_path %>
